@model IEnumerable<SalesWebMVC.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h1 class="text-info">Lista de Departamentos</h1>

<p>

    <a class="btn btn-sm btn-info" asp-action="Create">Criar novo</a>

</p>
<table class="table table-sm table-striped table-hover" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a class="btn btn-sm btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
